<div class="n_cheerup">

  <h1>Post</h1>
  <%= form_for @user, url: '/cheerup/new' do |f| %>
    Title:   <%= f.text_field :title %>
    Content: <%= f.text_field :contentl %>
               <%= f.submit "Create" %>
  <% end %>

</div>
