<div class="header">
  <h1>Welcome to Cheerups!</h1>
  <p>The sole purpose of this forum is to share and support inspiring or encouraging thoughts with others around you so that we can keep to good energy flowing in this dismally busy world. Keep it positive and keep it cheery!</p>
</div>

<ul>
  <% @cheerups.each do |cheerup| %>
    <div class="list">
      <li>

        <div class="cheerup">
          <h3><%= cheerup.title %> </h3>
          <p><%= cheerup.content %></p>
          <% if cheerup.user_id == current_user %>
            <%= link_to "Edit Your cheerup" , edit_cheerup_path(id: cheerup.id) %>
          <% end %>
        </div>

      </li>
    </div>
  <% end %>
</ul>
