<div class="n_cheerup">

  <h1> Make A New Cheerup! </h1>
  <%= form_for @cheerup, url: '/cheerups/new' do |f| %>
    <ul>
      <li> Title:   <%= f.text_field :title %>  </li>
      <li> Content: <%= f.text_field :content %></li>
      <li>          <%= f.submit "Create" %>    </li>
    </ul>
  <% end %>

</div>
