<div class="cheerups">
  <ul>
    <li>
      <% if user.id == true %>
      <% @cheerup do |cheerup|%>
        <%= cheerup.title %>
        <%= cheerup.content%>
      <% end %>
      <% else %>
        <% "Permission Denied" %>
      <% end %>
    </li>
  <ul>
</div>
