/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ALL */
body {
  background: url("http://thefabhouse.com/android-central/wallpaper/Backgrounds_125.png");
  font-size: 14px;
  font-style: italic;
}

a { color: gold; }

li {
  list-style: none;
  padding: 2px;
}

input#email { margin-left: 21px; }
input#password_confirmation { margin-left: 8px; }

/* NAV BAR (header) */
.header h1 {
  color: silver;
  font-style: italic;
  padding-left: 30px;
  text-align: center;
}

.header p {
  background-color:rgba(255,255,255,.7);
  margin-left: 60px;
  margin-right: 20px;
  padding-left: 10px;
  text-align: center;
}

.nav-bar {
  background-color: rgba(255,0,0,.3);
  height: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
}

.nav-bar a {
  color: gold;
  font-size: 18px;
  list-style: none;
}

.logged-in a {
  height: 18px;
  padding-left: 5%;
  padding-right: 5%;
}

.logged-out a {
  height: 18px;
  padding: 0px 18% 0px 18%;
}

/* Sign Up */
.create_user ul {
  list-style: none;
  margin-left: 10px;
}

.create_user li { padding: 10px; }

.create_user input#user_image_url { margin-left: 10px;}
.create_user input#user_name      { margin-left: 80px;}
.create_user input#user_email     { margin-left: 80px;}
.create_user input#user_password  { margin-left: 60px;}
.create_user input#user_password_confirmation { margin-left: 13px;}

/* Log In Page */

.login {
  color: silver;
  font-size: 14px;
  font-style: italic;
}



/* Ceate A Cheerup */
.n_cheerup {
  color: silver;
}

input#cheerup_title {
  margin-left: 28px;
  width: 240px;
}

input#cheerup_content {
  height: 80px;
  margin-left: 10px ;
  width: 240px;
  word-wrap: break-word;
}

/* Cheerups */
.list { list-style: none; }

.cheerup {
  border: solid gold 2px;
  background: url("http://img12.deviantart.net/954e/i/2008/134/b/b/border_iii_by_struckdumb.jpg");
  background-size: cover;
  float: right;
  height: 180px;
  margin: 20px;
  width: 600px;

}

.cheerup h3 {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

.cheerup p {
  margin-top: 5px;
  padding: 5px 12% 10px 12%;
}
